@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'); 

:root {
  --primary: hsl(26, 100%, 55%);
  --primary-pale: hsl(25, 100%, 94%);
  --neutral-very-dark: hsl(220, 13%, 13%);
  --neutral-dark: hsl(219, 9%, 45%);
  --neutral-medium: hsl(220, 14%, 75%);
  --neutral-light: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --translucent-black: rgba(0, 0, 0, .75);
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  z-index: 9;
}

/* Navigation styles */
.burger {
  display: none;
  user-select: none;
}

.burger-menu-dropdown {
  height: 100%;
  width: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.close-menu-icon {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.menu-nav-list {
  margin-top: 3rem;
  list-style: none;
}

.menu-nav-list li {
  margin-bottom: 1.2rem;
}

.menu-nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 12rem;
  padding: 2rem;
  height: 8rem;
  border-bottom: 1px solid var(--neutral-light);
}

.logo {
  height: 1.8rem;
  width: auto;
  margin-right: 5rem;
}

.logo-list-container {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-list li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--neutral-dark);
  font-size: 1.3rem;
}

.nav-list li a::after {
  content: '';
  background-color: var(--primary);
  height: 3px;
  width: 0;
  display: block;
  transform: translateY(3.1rem);
  transition: all .2s;
}

.nav-list li a:hover {
  color: var(--neutral-very-dark);
}

.nav-list li a:hover::after {
  width: 100%;
}

.cart-avatar-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* Cart icon and cart dropdown stylings */

.cart-container {
  position: relative;
}

.cart-icon {
  height: 1.8rem;
  width: auto;
  cursor: pointer;
}

.cart-icon:hover {
  filter: brightness(0%);
}

.number-in-cart {
  position: absolute;
  top: -.4rem;
  right: -.5rem;
  font-size: .9rem;
  background-color: var(--primary);
  color: #fff;
  padding: 0rem .4rem;
  border-radius: .5rem;
}

.cart-dropdown {
  position: absolute;
  top: 4rem;
  right: 10rem;
  height: fit-content;
  max-width: 22rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: all .15s;
  padding: 1.3rem 1.3rem;
  gap: 1rem;
}

.cart-dropdown.active {
  opacity: 1;
  visibility: visible;
  user-select: auto;
}

.cart-dropdown-title {
  font-weight: 700;
  opacity: .8;
}

.cart-dropdown-data-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid var(--neutral-light);
  padding-top: 1rem;
  gap: 1rem;
}

.cart-dropdown-data-container-empty {
  border-top: 1px solid var(--neutral-light);
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: var(--neutral-medium);
}

.cart-product-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-dropdown-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--neutral-dark);
}

.cart-product-img {
  height: 3rem;
  width: auto;
  border-radius: .3rem;
}

.cart-product-description {
  line-height: 1.5;
}

.cart-product-total {
  color: black;
  font-weight: 700;
  margin-left: .2rem;
}

.cart-dropdown-data {
  font-size: 14px;
  font-weight: 700;
  color: var(--neutral-dark);
}

.btn {
  background-color: var(--primary);
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 1rem 6rem;
  border: none;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px 10px hsla(26, 100%, 55%, .25);
  cursor: pointer;
  transition: opacity .2s;
}

.checkout-btn {
  box-shadow: none;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
}

.trash-icon {
  cursor: pointer;
}

.avatar {
  height: 3.5rem;
  width: auto;
  cursor: pointer;
}

.avatar:hover {
  border: 1px solid var(--primary);
  border-radius: 50%;
}

/* main container styling */

.main-container {
  padding: 6rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-product-image {
  height: 35rem;
  width: auto;
  border-radius: 1rem;
}

.gallery {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.gallery img {
  height: 8rem;
  border-radius: .5rem;
  width: auto;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.gallery img:hover {
  opacity: .6;

}

.gallery img:focus {
  outline: 3px solid var(--primary);
  opacity: .6;
}

/* Product information section */
.product-info {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  min-width: 28rem;

}

.company-title {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.product-title {
  margin-top: 1.2rem;
  font-size: 3.7rem;
  line-height: 1.1;
}

.product-info p {
  margin-top: 2.3rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--neutral-dark);
  opacity: .85;
}

.pricing {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.price-with-discount-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.new-price {
  font-size: 2.5rem;
}

.discount {
  background-color: var(--primary-pale);
  padding: .2rem .6rem;
  border-radius: .3rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.2rem;
}

.original-price {
  margin-top: .8rem;
  color: var(--neutral-medium);
  text-decoration: line-through;
  font-size: 1.2rem;
}

.cart-buttons-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.quantity {
  display: flex;
  align-items: center;
  background-color: var(--neutral-light);
  border-radius: .5rem;
}

.quantity button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1.4rem 1rem;
  transition: all .2s;
}

.quantity button:hover, .quantity button:active {
  opacity: .7;
}

.quantity button:active {
  opacity: .5;  
}

.selected-quantity {
  font-weight: 700;
  padding: 0rem 2.3rem;
  max-width: 5rem;
}

.btn img {
  filter: brightness(1000%);
  height: 1rem;
  width: auto;
  margin-right: 1rem;
}

.btn:hover {
  opacity: .7;
}

.btn:active {
  opacity: .5;
}

/* Lightbox styles */

.lightbox-container {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--translucent-black);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.close-icon-container {
  position: absolute;
  cursor: pointer;
  top: -3rem;
  right: 0;
}

.close-icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.close-icon:hover {
  filter: invert(48%) sepia(74%) saturate(981%) hue-rotate(348deg) brightness(104%) contrast(101%);
}

.main-product-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}

.main-product-image.lightbox {
  cursor: auto;
  height: 40rem;
  width: auto;
}

.image-previous-container, .image-next-container {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  user-select: none;
  display: none;
}

.image-previous-container {
  top: 45%;
  left: -1.5rem;
}

.image-next-container {
  top: 45%;
  right: -1.5rem;
}

.image-next-container.lightbox, .image-previous-container.lightbox {
  display: inherit;
}


.image-previous, .image-next {
  cursor: pointer;
  height: 1rem;
  width: auto;
}

.image-previous {
  transform: translateX(-.1rem);
}

.image-next {
  transform: translateX(.1rem);
}

.image-previous-container:hover .image-previous, .image-next-container:hover .image-next {
  filter: invert(48%) sepia(74%) saturate(981%) hue-rotate(348deg) brightness(104%) contrast(101%);
}

@media (max-width: 1500px) {
  .main-container {
    gap: 6rem;
  }
  .main-product-image {
    height: 25rem;
  }
  .btn {
    padding: 1rem 3rem;
  }
}

@media (max-width: 1200px) {
  .main-container {
    gap: 4rem;
  }
}

@media (max-width: 1000px) {
  /* nav responsive */

  .navbar {
    padding: 0 1rem;
    margin: 0;
    justify-content: space-between;
  }

  .nav-list {
    display: none;
  }
  
  .burger {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }

  .burger img {
    height: 1.2rem;
    filter: brightness(80%);
  }

  .main-container {
    margin:0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .main-product-image-container {
    width: 100%;
    cursor: auto;
  }

  .main-product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 0;
    pointer-events: none;    
  }

  .image-next-container, .image-previous-container {
    display: inherit;
  }

  .image-next-container {
    right: 1.5rem;
  }

  .image-previous-container {
    left: 1.5rem;
  }

  .product-info {
    padding: 0rem 1.5rem;
    align-self: center;
    width: 100%;
    max-width: none;
    margin-bottom: 5rem;
  }

  .company-title {
    font-size: 1.2rem;
  }

  .product-title {
    font-size: 2.5rem;
  }

  .company-title {
    margin-top: 0;
  }

  .product-info p {
    margin-top: 1rem;
  }
  
  .pricing {
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-buttons-container {
    flex-direction: column;
  }
  .btn {
    justify-content: center;
  }

  .quantity {
    width: 100%;
    justify-content: space-evenly;
  }

  .gallery img {
    display: none;
  }
 
  .cart-dropdown {
    top: 4rem;
  }
}